.product{
    border: 1px solid #EBEEEF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.product img{
    width: 100%;
    border-radius: 20px;
}
.addToCart {
    background: orangered;
    width: 100%;
    border: none;
    bottom: 0;
}
.addToCart:hover{
    background-color: orange;
}